@font-face {
  font-family: 'open_sansbold';
  src: url('fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  display: flex;
}

img {
  max-width: 100%;
  max-height: 100vh;
  z-index: -1;
}

.credit{
  position: absolute;
  color: white;
  align-self: flex-end;
} 

.credit > a {
  color: white;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  background: black;
  opacity: 0.6;
  color: white;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > img {
 height: 12vh;
}

.logo-text {
  font-size: 10vh;
  font-family: 'open_sansbold', sans-serif;
}